.rd-search-input {
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: 0 .1rem .15rem rgba(0, 0, 0, .1);
  font-family: var(--sans-serif);
  font-size: 1rem;
  outline: none;
  padding: .5em .75em;
  transition: box-shadow .2s ease-in;

  &:focus {
    box-shadow: 0 .3rem 1.5rem rgba(0, 0, 0, .2);
  }
}

.rd-search-input--large {
  font-size: responsive 1rem 1.5rem;
}
