.rd-hero {
  box-shadow: 0 0 4rem rgba(0, 0, 0, .15);
  color: white;
  padding-bottom: 4rem;
  padding-top: 4rem;
  position: relative;
}

.rd-hero--primary {
  background-color: var(--primary-color);
}

.rd-hero--center {
  text-align: center;
}

.rd-hero__title {
  font-size: responsive 2.5rem 3.5rem;
  margin-top: 0;
}

.rd-hero__input {
  margin-left: auto;
  margin-right: auto;
  max-width: 42.5rem;
  width: 80%;
}

.rd-hero__city {
  font-size: .85rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
